*{
    font-family: Arial;
}    
#messageView
{
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    padding: 1em;
}
.contact_item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em;
    gap: 1em;
    cursor: pointer;
    transition: 0.15s ease-in-out;
}
.contact_item:hover{
    background-color: #ffffff1a;
    border-radius: 0.5em;
}
.contact_item > #image{
    width: 3.2em;
    height: 3.2em;
    border-radius: 50%;
    background-color: gray;
    object-fit: cover;
}
.contact_item > #image > img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.contact_item > #info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2em;
    width: calc(100% - 4.2em);
}
.contact_item > #info > #name_time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.contact_item > #info > #name_time > #time{
    font-size: 0.8em;
    color: #b3b3b3;
}
.contact_item > #info > #last_message{
    color: #b3b3b3;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}