.content_root{
    width: 100%;
    background: #161717;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}
.content_root > #content{
    display: flex;
    flex-direction: column;
    gap: 0.9em;
}
.content_root > #content > #header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial;
    font-size: 1.8em;
}
.content_root > #content >#desc{
    color: #b3b3b3;
    text-align: center;
    line-height: 1.4em;
    font-family: Arial;
}
.content_root > #footer{
    color: #ffffff69;
    font-family: Arial;
    font-size: smaller;
}
