.primary_navbar_root{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}
.primary_navbar_root >#top{
    padding: 0.65em 0.75em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.primary_navbar_root > #top >#header-icons,
.primary_navbar_root > #top >#content-icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.1em;
}
#icon{
    color: rgba(255, 255, 255, 0.595);
    padding: 0.6em;
}
#icon:hover{
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.062);
    cursor: pointer;
}
.primary_navbar_root > #bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
.active-icon #icon{
    color:white;
    border-radius:50%;
    background-color: rgba(255, 255, 255, 0.062);

}