.contacts_root{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}
.contacts_root >#header{
    display:flex;
    padding: 1em;
    flex-direction: row;
    justify-content: space-between;
}
.contacts_root >#header > #contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.contacts_root >#header > #contents > #title{
    font-size: 1.4em;
    color: white;
    font-family: Arial;
    padding-left: 0.2em;
    font-weight: bold;
}
.contacts_root >#header > #contents > #accessIcon{
    display: flex;
    gap: 1em;
    padding-right: 1em;
}
.contacts_root >#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.contacts_root >#content > #searchField{
    padding: 0.6em 0.7em;
    background: #ffffff14;
    border-radius: 3.5em;
    width: 32.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid transparent;
    position: relative;
    gap: 0.7em;
    user-select: none;
}
.contacts_root >#content > #searchField:focus-within{
    background: inherit;
    border: 2px solid #21c063;
}
.contacts_root >#content > #searchField > input{
    background: none;
    border: none;
    outline: none;
    width: 85%;
    color: white;
    font-size: 0.95em;
}
.contacts_root >#content > #searchField > input::placeholder{
    color: rgb(154, 151, 151);
}
.contacts_root >#content > #searchField > #search{
    color: #ffffff80;
}
.contacts_root >#content > #searchField > #close{
    color: #afafaf;
    cursor: pointer;
}
.contacts_root > #header > #contents > #accessIcon > #new > a >#icon,
.contacts_root > #header > #contents > #accessIcon >#more > #icon{
    color:white;
}
.contacts_root > #header > #contents > #accessIcon >#new:hover,
.contacts_root > #header > #contents > #accessIcon >#more:hover{
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.062);
    cursor: pointer; 
}
.contacts_root >#content > #filterSection{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.7em;
    padding-left: 2em;
}
.filter-pill {
    display: flex;
    min-width: 3em;
    padding: 0.37em 0.55em;
    border-radius: 1em;
    color: #ffffffa1;
    font-weight: bold;
    font-family: Arial;
    font-size: 0.9em;
    border: 1px solid #80808042;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.filter-pill.active {
    border:1px solid #28493e;
    background: #103529;
}